<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
	<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
	<div class="container">
	<div class="page-header">
		<h3>Welco....Who are you?</h3>
	</div>
	
	<div class="well">
    <form id="loginform" action="/login" method="post">
        <div>
            <input type="text" id="email" name="email" placeholder="Email" required />
        </div>
        <div>
            <input type="password" id="password" name="password" placeholder="Password" required />
        </div>
  		<input class="btn btn-primary" type="submit" value="Login" />
	</form>
	</div>
	</div>
  </body>
</html>