<!DOCTYPE html>
<html>
	<head>  
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>yuki-sato.com</title>
		<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" media="screen, projection">
		<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
		<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/bootstrap/js/article_edit.js"></script>
	</head>
<body>
	
<ul class="nav nav-tabs nav-stacked" style="position:fixed; top:50px; right:0px;">
  <li>
    <a href="#">Home</a>
  </li>
  <li>
    <a href="#">Config</a>
  </li>
  <li>
    <a onclick="javascript:appendComponent('title');">Add Title</a>
  </li>
  <li>
    <a onclick="javascript:appendComponent('content');">Add Text</a>
  </li>
  <li>
    <a href="#">Add Image</a>
  </li>
  <li>
    <a>Save Draft</a>
  </li>
  <li>
    <a onclick="javascript:alert(getComponents());">Save</a>
  </li>
</ul>
	
<div id="editspace" class="container">
	<%for(index=0; index<components.length; index++){%>
	<%var component = components[index]%>
		<%if(component.type==='title'){%>
			<div class="page-header component" contenteditable=true>
				<h3><%-component.value%></h3>
			</div>
		<%}else if(component.type==='image'){%>
			<div>
				<img src="<%-component.value%>" href="<%-component.value%>"/>
			</div>
		<%}else{%>
			<div class="component" contenteditable=true>
				<%-component.value%>
			</div>
		<%}%>
	<%}%>
</div>
<div class="container">
	<hr>
	you can use pictures and texts on this site as you like.
</div>
</body>
</html>