<!DOCTYPE html>
<html>
	<head>  
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script type="text/javascript" src="/javascripts/html_edit.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
	<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<title>Edit a HTML</title>
		<script type="text/javascript">
			var SCPagePath = "<%-pagePath%>";
		</script>
	</head>
<body>

<ul class="nav nav-tabs nav-stacked" style="position:fixed; top:50px; right:0px;">
  <li>
    <a onclick="saveCode()">Just Save</a>
  </li>
  <li>
    <a onclick="publishCode()">Publish</a>
  </li>
</ul>
	
<div id="editspace" class="container">
	<div contenteditable=true>
		<pre><code id="codespace"><%=code%></code></pre>
	</div>
</div>
</body>
</html>