<!DOCTYPE html>
<html>
	<head>  
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>yuki-sato.com</title>
		<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" media="screen, projection">
		<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
		<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
	</head>
<body>
<div class="container">
	<%for(index=0; index<pageObject.components.length; index++){%>
	<%var component = pageObject.components[index]%>
		<%if(component.type==='title'){%>
			<h3><div class="page-header component component-title"><%-component.value%></div></h3>
		<%}else if(component.type==='image'){%>
			<img class="component component-image" src="<%-component.value%>" href="<%-component.value%>"/>
		<%}else{%>
			<div class="component component-content"><%-component.value%></div>
		<%}%>
	<%}%>
</div>
<div class="container">
	<hr>
	you can use pictures and texts on this site as you like.
</div>
</body>
</html>